:root {
  --accent-color: #04aa6d;
  --base-font: 'Roboto Serif', serif;
  --base-font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  padding: 40px 0;

  font-family: var(--base-font), serif;
  font-size: var(--base-font-size);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 90vh;
  box-shadow: 0 0 20px 3px;
}

.header {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
}

.header h1 {}

.header p {
  font-size: 85%;
}

.button {
  padding-inline: 60px;
  padding-block: 20px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: var(--accent-color);
  border: none;
  box-shadow: 5px 6px 9px 2px #999;
}

input {
  padding-inline: 25px;
  padding-block: 20px;
}

.button:hover {
  background-color: #3e8e41
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#post-it:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.social {
  margin-block: 25px;
  border: 1px solid #eee !important;
}

/* Enable the button when input is valid (not empty) */
/*.bsky-id:valid:focus + .bsky-passwd:valid + #post-it {*/
/*  background-color: blue;*/
/*  color: white;*/
/*}*/

#alert {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  min-height: 30px;
  background-color: #defede;
  font-size: 80%;
}

.post-body-container p {
  font-weight: bold;
}

#post-body {
  border: 1px solid #d2f0e5;
  /* var(--accent-color); */
  margin-bottom: 30px;
}

#log {
  font-family: monospace;
  font-size: 13px;
  color: #333;
  min-height: 40px;
  border: 1px solid #ddd;
  margin-block: 40px;
  padding-inline: 15px;
  padding-block: 10px;
  overflow-x: scroll;
}

.credentials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  margin-block: 30px;
}

.credentials>.username,
.credentials>.password {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.credentials>.username>*,
.credentials>.password>* {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.ql-editor {
  min-height: 125px;
}

.submit-div {
  display: flex;
  justify-content: space-evenly;
}
